/* body section */

body {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.content {
    display: flex;
    flex-direction: column;
}

/* header section */

.header b {
    font-size: 24px;
    color: #f9faf8;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    padding-left: 8px;
    display: flex;
}

/* nav section */

.navbar {
    display: flex;
    color: #f9faf8;
    background-color: #1f2937;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.navlist {
    display: flex;
    color: #f9faf8;
    background-color: #1f2937;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}

.navlist a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

/* hero section */

.hero {
    display: flex;
    color: #f9faf8;
    background-color: #1f2937;
    align-items: center;
    padding: 90px;
}

.hero-sub {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.hero-sub p {
    font-family: 'Courier New', Courier, monospace;
    opacity: 0.7;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.hero-image img {
    height: 900px;
    width: 800px;
}

/* sign up section */

.sign-up {
    background-color: #3882f6;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}

.text {
    flex: 1;
    text-align: left;
}

.text p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

h3 {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

/* button section */

.button {
    flex: 1;
}

.button button {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882f6;
    padding: 5px 25px;
    font-size: 15px;
}