/* logo section */

.logo img {
    height: 300px;
    width: 300px;
    margin-right: auto;
}

/* navigation list section */

.navlist {
    display: flex;
    color: #f9faf8;
    background-color: #1f2937;
    align-items: center;
    list-style: none;
    gap: 0px;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}

.navlist a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
}

/*  hero section */

.hero {
    display: flex;
    color: #f9faf8;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
    flex-basis: 400px;
    flex-direction: column;
    text-align: left;
    margin-right: auto;
}

.hero p {
    font-family: 'Courier New', Courier, monospace;
    opacity: 0.7;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.hero button {
    display: block;
    text-align: center;
    width: 10px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-weight: bold;
}

.hero-image img {
    height: 350px;
    width: 500px;
}